<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>
   
  
        <link rel="stylesheet" href="~/Boostrap5.1.3/css/bootstrap.min.css" />             
             
   
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
                    <div class="container">
                        
                        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
         
                            <form class="ps-lg-5">
                                <button type="button"  class="btn btn-primary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#modalLoginForm">
                                    Giriş Yap
                                </button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
    </header>
    <div class="container">
       
        <main role="main" class="pb-3">
            <partial name="Index" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

      <script src="~/Boostrap5.1.3/js/bootstrap.bundle.min.js"></script>   
      <script src="~/Boostrap5.1.3/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
