@using ViewModels.CariVM
@model List<CariVM>

   

@*<head>
    <script src="~/js/hyslib/emsalkararcompview.js" asp-append-version="true"></script>
</head>*@


<form id="cariekleguncelleform" role="form" asp-controller="Kullanici" asp-action="CariEkleComp" method="post">

     <div class="dx-field">
            <div class="dx-field-label">Ad Soyad/Firma Adı</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().TextBox()
                    .Placeholder("Enter full name here...")
                    .MaxLength(30)
                )
            </div>
        </div>
    
        <div class="dx-field">
            <div class="dx-field-label">Telefon Numarası</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().TextBox()
                    .Mask("+90 (X00) 000-0000")
                    .MaskRules(new { X = new JS("/[02-9]/") })
                )
            </div>
        </div>  
                
     <div class="dx-field">
            <div class="dx-field-label">Adres</div>
            <div class="dx-field-value">
                @(Html.DevExtreme().TextArea()
                    .Placeholder("Adres")
                    .MaxLength(90) 
                    .ElementAttr(new {
        @style = "background-color : red",
        
        
    }))
                
                 
                
            </div>
        </div>  

</form>
         
   
    


<script>
    function textBox_valueChanged(data) {
        $("#email")
            .dxTextBox("instance")
            .option("value", data.value.replace(/\s/g, "").toLowerCase() + "@@corp.com");
    }
   function textArea_valueChanged(data) {
        $("#read-only-textarea").dxTextArea("instance").option("value", data.value);
    }
    $(function() {
    $("#textAreaContainer").dxTextArea({
        placeholder: "Type a text here..."
    });
});
   
</script>


