<div class="modal-body">

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputgroup-sizing-sm">Ad Soyad/Firma Adı</span>
        </div>
        <input id="unvan" type="text" class="form-control" aria-label="sizing example input" aria-describedby="inputgroup-sizing-sm">
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">

                <thead class="thead-dark">

                    <tr>
                        <th scope="col">telefonlar</th>
                        <th>
                            <button id="addTelefonInput" class="btn btn-sm btn-dark float-right">+</button>
                        </th>
                    </tr>

                </thead>
                <tbody id="addTel">
                </tbody>

            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">adresler</th>
                        <th>
                            <button id="addAddressInput" class="btn btn-sm btn-dark  float-right">+</button>
                        </th>
                    </tr>
                </thead>
                <tbody id="addAddress">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit"  onclick="saveTel()" class="btn btn-dark">Kaydet</button>
</div>




<script>


    $("#addTelefonInput").click(function () {
        $("#addtel")
            .append('<tr><th><input type="text" placeholder="add phone" class="form-control phonenumber"></th><th><button  class="btn btn-sm btn-danger deletetel">x</button></th></tr>');
    });

    $(document).on('click', '.deletetel', function () {
        $(this).parents("tr").remove();
    });

    $("#addaddressınput").click(function () {
        $("#addaddress")
            .append('<tr><th><input type="text" placeholder="add address" class="form-control address"></th><th><button  class="btn btn-sm btn-danger deleteaddress">x</button></th></tr>');
    });

    $(document).on('click', '.deleteaddress', function () {
        $(this).parents("tr").remove();
    });

    var numbers = [];

    var address = [];

    var getdatas = function (id) {
        var phonetable = $("#tel");

        var addresstable = $("#address");

        var cariıd = id;

        var getphones = function () {
            $.ajax({
                url: "/kullanici/GetTelNo",
                type: 'get',
                datatype: 'json',
                beforesend: function () {
                    phonetable.html("");
                },
                data: {
                    "id": cariıd
                },
                success: function (loaddata) {
                    for (var i = 0; i < loaddata.phones.length; i++) {
                        var tel = $("#tel");
                        tel.append("<tr><td>" + loaddata.phones[i] + "</td></tr>");
                    }
                },
                error: function (error) {
                    console.log(error.message);
                },
            });
        };

        var getaddress = function () {
            $.ajax({
                url: "/kullanici/GetAdres",
                type: 'get',
                datatype: 'json',
                beforesend: function () {
                    addresstable.html("");
                },
                data: {
                    "id": cariıd
                },
                success: function (loaddata) {
                    for (var i = 0; i < loaddata.length; i++) {
                        var address = $("#address");
                        address.append("<tr><td>" + loaddata[i].address + "</td></tr>");
                    }
                },
                error: function (error) {
                    console.log(error.message);
                },
            });
        };

        getaddress();
        getphones();
    };


    var savetel = function () {

        $('input[type="text"].caritel').each(function () {
            numbers.push($(this).val());
        });

        $('input[type="text"].cariadres').each(function () {
            address.push($(this).val());
        });
        var unvan = $("#unvan").val();


        var addphones = function () {
            $.ajax({
                url: "/kullanici/AddTel",
                type: 'post',
                datatype: 'json',
                data: {
                    "caritel": numbers,
                    "unvan": unvan,
                    "cariadres": address
                },
                success: function () {
                    alert("ok");
                },
                error: function (error) {
                    console.log(error.message);
                },
            });
        };


        addphones();
        window.history.go(0)
        window.location.reload()

    };


</script>


<!-- #region   popup -->
@*<form id="cariekleguncellediv" role="form" asp-controller="kullanici" asp-action="carieklecomp" method="post">*@

@*<div class="dx-field">
            <div class="dx-field-label">ad soyad/firma adı</div>
            <div class="dx-field-value">
                @(html.devextreme().textbox()
                        .placeholder("enter full name here...")
                        .maxlength(30)
                    )
            </div>
        </div>

    <div class="dx-field">
                <div class="dx-field-label" id="telno">telefon numarası</div>
                <div class="dx-field-value">
                    @(html.devextreme().textbox()
                        .mask("+90 (x00) 000-0000")
                        .maskrules(new { x = new js("/[02-9]/") })
                    )
                </div>
            </div>

         <div class="dx-field">
                <div class="dx-field-label" id="adres">adres</div>
                <div class="dx-field-value">
                    @(html.devextreme().textarea()
                        .placeholder("adres")
                        .maxlength(90)
                        .elementattr(new {
            @style = "background-color : red",


        }))


                </div>
            </div>*@
@*<input type="text" id="name" placeholder="ad soyad/firma adı">
        <input type="text" id="telno" placeholder="telefon numarası giriniz">
        <input type="text" id="adres" placeholder="adresinizi">
        <input type="button" id="add-row" value="ekle">
        <button type="button" id="remove-row">sil</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ad soyad/firma adı</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>telefon</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>adres</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>



    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#add-row").click(function () {
                var name = $("#name").val();
                var tel = $("#telno").val();
                var adres = $("#adres").val();
                var table = "<tr><td>" + name + "</td><<td>" + tel + "</td><td>" + adres + "</td><td><input type='checkbox' name='record'></td></tr>";
                $("table tbody").append(table);
                $('#name,#telno,#adres').val("");
            })

            $("#remove-row").click(function () {
                $("table tbody").find('input[name="record"]').
                    each(function () {
                        if ($(this).is(":checked")) {
                            $(this).parents("tr").remove();
                        }
                    });
            });
        });


    </script>

    <script>
        function textbox_valuechanged(data) {
            $("#email")
                .dxtextbox("instance")
                .option("value", data.value.replace(/\s/g, "").tolowercase() + "@@corp.com");
        }
        function textarea_valuechanged(data) {
            $("#read-only-textarea").dxtextarea("instance").option("value", data.value);
        }
        $(function () {
            $("#textareacontainer").dxtextarea({
                placeholder: "type a text here..."
            });
        });

    </script>*@


<!-- #endregion -->
